<!-- Deprecation: This was named with underscore [_edit.hbs]. NOW named with a dash [-edit.hbs] to denote a partial template -->
<!-- Also added model proxy -->
<div>
  {{input type="text" class="form-control" value=model.title}}
</div>
<br>
<div>
  {{textarea class="form-control" value=model.body}}
</div>
<br>