<div class="about">
  <p>@kosso : This is an updated version of the blogging demo application <a target="_blank" href="https://www.youtube.com/watch?v=vLXGKNA4P_g">screencast</a> by Jon Evans.</p>

  <p>
  	<h4>Required Tooling Versions:</h4>
  	<ul>
	  	<li> ember-cli : version: 0.2.3	</li>
	  		<ul>
	  			<li>Provides</li>
	  			<ul>
					<li> Ember      : 1.11.1 			</li>
					<li> Ember Data : 1.0.0-beta.16.1 	</li>
					<li> jQuery     : 1.11.3 			</li>
					<li> etc..							</li>

	  			</ul>
	  		</ul>
		<li> node: 0.12.2 				</li>
		<li> npm: 2.7.6 				</li>
  	</ul>

  	<hr>

  	<h4>Required addon components used in this demo:</h4>
  	<ul>
		<li> bootstrap 	</li>
		<li> moment 	</li>
	  	<li> showdown	</li>

  	</ul>


  </p>

</div>