<div class="home">
  <h1>This is a demo blog built with ember-cli</h1>

  <p>The data is not persistent, since we're only using a local 'http-mock' for our posts data.</p>

  <hr>

  <p>
  	Application updated to latest versions Node, ember-cli and ember-data etc by @kosso.
  </p>

  <p>
  	Pre-Ember 2.0 deprecations have also been applied : 
  	<br>
  	See : <a target="_blank" href="http://emberjs.com/deprecations/v1.x/#toc_objectcontroller">http://emberjs.com/deprecations/v1.x/#toc_objectcontroller</a>
  	<br>
  	And : <a target="_blank" href="http://emberjs.com/deprecations/v1.x/#toc_more-consistent-handlebars-scope">http://emberjs.com/deprecations/v1.x/#toc_more-consistent-handlebars-scope</a>
  	<br>
  	Also, the partials template filenaming needs to now use a dash instead of an underscore. 

  </p>



</div>