<div class="col-md-4">
  <h3>Posts</h3>

  <ul class="list-unstyled">
    {{#each}}
      <li>
        {{#link-to 'post' this}}
          {{title}}
          <span class="muted">
            by {{author.name}}
          </span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="col-md-8">
  {{outlet}}
</div>
